.navbar-logo-colorize{
    color: var(--main-white);
    cursor: pointer;
    font-size : 2rem;
    margin-left: 3rem;
    margin-top: 0.3rem;
}
.nav-menu-colorize{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0.5rem;
    list-style: none;
    margin: 0rem 1rem 0rem auto;
}
.nav-item-colorize{
    display: flex;
    align-items: center;
    height: 3rem;
}

.nav-person-colorize{
    padding: 0.3rem 1rem;
    color : var(--sub-purple);
    width: 2rem;
    height: 2rem;
}

.nav-links-colorize{
    color: var(--sub-purple);
    text-decoration : none;
    padding: 0.3rem 1rem;
}
.nav-links-colorize:hover{
    background-color : var(--main-pink);
    color: white;
    border-radius : 0.5rem;
    transition : all 0.2s ease-out;
}


@media screen and (max-width:700px) {
    .header-mypage{
        justify-content: center;
    }
    .nav-menu-colorize{
        display: flex;
        flex-direction: column;
        width:100%;
        position: absolute;
        top: 5rem;
        left: -100%;
        opacity:1;
    }
    .nav-menu-colorize-active{
        background-color: var(--main-pink);
        left:0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 3;
    }
    .nav-links-colorize{
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: table;
    }
    .nav-links-colorize:hover{
        background-color: var(--main-purple);
        border-radius: 0;
    }
    
}