.navbar-logo-mypage{
    color: rgb(171, 171, 171);
    margin-top: 3rem;
    margin-left: 4rem;
    cursor: pointer;
    text-decoration: none;
    font-size : 2.5rem;
}
.fa-trillium{
    margin-left : 0.5rem;
    font-size: 1.6rem;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.5rem;
    list-style: none;
    text-align: center;
    width: 90vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-item{
    display: flex;
    align-items: center;
    height: 5rem;
}
.nav-links{
    color: var(--main-pink);
    text-decoration : none;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
}
.nav-links:hover{
    background-color : var(--sub-pink);;
    color: white;
    border-radius : 0.5rem;
    transition : all 0.2s ease-out;
}
.menu-icon{
    display: none;
}
.fa-bars{
    color:white;
}


@media screen and (max-width:1000px) {

    .navbar{
        justify-content: space-between;
    }
    
    .navbar-logo{
        display: flex;
        margin-bottom: 3.5rem;
        margin-left: 3rem;
        
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        opacity: 1;
        left: -100%;
        top: 5rem;
        margin-top: 10rem;
    }
    .nav-menu-active{
        background-color: var(--main-pink);
        left:0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 3;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: var(--main-purple);
        border-radius: 0;
    }
    .menu-icon{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,60%);
        font-size: 3rem;
        cursor: pointer;
    }
    .fa-times{
        display:flex;
        margin-right: 0.5rem;
        color:white;
        font-size: 3rem;
    }
    
}