:root{
  --main-pink: #f7ccca;
  --sub-pink: #ff8fad;
  --main-green: #CFEBD4;
  --main-purple: #d8d1e1;
  --sub-purple: #b29cd3;
  --sub-gray: #BBBBBB;
  --main-white: white;
  --main-gray: #f4f4f4;
  --sub-text: black;
  --gray : #EBEBEB;
  --dark-gray:#8C8888;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

img{
  max-width: 100%;
  max-height: 100%;
}
.App {
  text-align: center;
}
.admin,
.changeinfo,
.myprofile,
.findpw,
.signup,
.login,
.home{
  background: url(../public/img/color-gray.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.changeinfo,
.myprofile,
.findpw,
.signup,
.login{
  min-height: 100%;
  text-align: center;
}
.mypage,
.colorize,
.colorizefinish{
  height: 100vh;
  text-align: center;
  background: url(../public/images/colorizeBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.home{
  color:black;
  font-size: 10px;
}

body{
  font-family: 'Cormorant';
}

.wrap{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}
.mypagewrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container{
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 1rem;
}
.upload{
    width: 10rem;
    height: 5rem;
    margin: 0 50rem 7px 27rem;
    padding: 5px 54px 18px 55px;
    border-radius: 2rem;
}
.button:hover{
  background: #ff9f9f;
  color: white;
}
.list{
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.scrollbar::-webkit-file-scrollbar{
  width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb{
  height: 30%;
  background: var(--main-purple);
  border-radius: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}