:root{
  --main-pink: #f7ccca;
  --main-green: #CFEBD4;
  --main-purple: #d8d1e1;
  --main-white: white;
  --sub-text: black;
}
.App {
  text-align: center;
}
.home,
.signup,
.photochange,
.mypage,
.login{
  text-align: center;
}
.home{
  color:black;
  font-size: 100px;;
}
body{
  font-family: 'nanumsquare';
}

.button:hover{
  background: #ff9f9f;
  color: white;
}

.list{
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}