body {
  margin: 0;
  font-family: "Cormorant";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Cormorant-Regular.ttf") format("truetype");
}
